/**
COLOR : https://flatuicolors.com/palette/defo
 */

/**
ALL
 */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #34495e;
}

a {
    text-decoration: none;
}

strong {
    font-weight: bolder;
    color: white;
}

code {
    background-color: rgba(200, 200, 200, 0.1);
    color: white;
    border-radius: 2px;
}

/**
GENERIC
 */

.regularText {
    color: white;
}

.lightText {
    color: #cdcdcd;
}

.coloredText {
    color: #27ae60;
}

.small {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/**
NAV BAR
 */

.navBar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #2c3e50;
    z-index: 10;
}

.navBarLeft {
    display: flex;
    flex: .2;
    height: 100%;
    margin-left: 30px;
    align-items: center;
    justify-content: flex-start;
}

.navBarRight {
    display: flex;
    flex: .8;
    margin-right: 30px;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navBar a {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 10px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #cdcdcd;
}

.navBarRight a:hover {
    transition: .1s ease-in-out;
    border-bottom: 2px solid white;
    color: white;
}

/**
HOME
 */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin: 100px 0;
}

.header img {
    width: 100%;
    height: 100%;
}

.header h1 {
    background-color: rgba(0, 0, 0, .5);
    padding: 2px 10px;
    text-transform: uppercase;
}

.header h3 {
    padding: 2px 10px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.headerText {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
}

.homeContainerTitle {
    padding: 2px 10px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 3px;
}

.bubbleImg {
    height: 180px;
    width: 180px;
    margin-bottom: 15px;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
}

.bubbleImg img {
    width: 100%;
    height: 110%;
}

.authorDescription {
    display: flex;
    width: 80%;
    margin-top: 30px;
}

/**
ACCOUNT PAGE
 */

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 100%;
}

.accountContainer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 90%;
    align-items: center;
}

.accountLogged {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.loginContainer {
    display: flex;
    flex: .5;
    flex-direction: column;
}

.registerContainer {
    display: flex;
    flex: .5;
    flex-direction: column;
}

.accountTitle {
    margin: 0 auto;
}

.formContainer {
    padding: 20px;
    width: 80%;
    margin: 100px auto 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #2c3e50;
}

.formSection {
    margin-bottom: 30px;
}

.formSectionTitle[isRequired="true"]:after {
    content: '*';
    color: rgb(180, 10, 10);
}

.formSelection {
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border: 2px solid grey;
    padding-left: 5px;
    background-color: transparent;
    color: rgb(170, 170, 170);
    font-size: 15px;
}

.formSelection option {
    background-color: #18191C;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.tagContainer p {
    margin-right: 10px;
    margin-top: 10px;
    background-color: #7f83d7;
    padding: 3px 5px;
    min-width: 80px;
    color: white;
    text-align: center;
}

.input {
    margin-top: 10px;
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, .10);
    border: 2px solid gray;
    font-size: 15px;
    padding-left: 10px;
    color: white;
}

.fileImage {
    display: flex;
    height: 150px;
    margin: 10px;
    flex-wrap: wrap;
}

.textarea {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 150px;
    max-height: 500px;
    min-height: 100px;
    background-color: rgba(0, 0, 0, .10);
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 5px;
}

.help {
    margin-top: 10px;
    color: gray;
    font-size: 12px;
}

.buttonContainer {
    display: flex;
    background-color: #7f83d7;
    color: white;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 3px;
    margin: 5px auto;
    cursor: pointer;
    text-decoration: none;
}

.buttonContainer:hover {
    transition: .1s ease-in-out;
    background-color: #666aaf;
}

.delete {
    background-color: #e74c3c;
}

.delete:hover {
    transition: .1s ease-in-out;
    background-color: #bf4635;
}

.logout {
    margin: 10px auto;
    background-color: #e74c3c;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.profileCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.profileCard h2 {
    margin-top: 10px;
}

.profileAvatar {
    display: flex;
    justify-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .5);
    overflow: hidden;
}

.profileAvatar img {
    width: 100%;
    height: 100%;
}

.statisticsContainer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    padding: 20px;
    margin: 50px 0;
}

.statistics {
    display: flex;
    margin: 10px 0;
}

.stat {
    display: flex;
    align-items: center;
    height: 60px;
    margin: 10px 20px;
}

.stat h2 {
    margin-left: 10px;
    padding: 2px 10px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.statIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    border-radius: 50%;
    background-color: #7f83d7;
    border: 2px solid rgba(0, 0, 0, .3);
}

.statIcon img {
    width: 30px;
    height: 30px;
}

.accountButton {
    margin-top: 50px;
    padding: 10px 20px;
}

.accountChapters {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accountChapterCard {
    position: relative;
    display: flex;
    width: 700px;
    height: 200px;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/**
CHAPTERS
 */

.chaptersList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    flex-wrap: wrap;
    position: relative;
}

.chapterCard {
    position: relative;
    display: flex;
    width: 800px;
    height: 250px;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.capterCardBackground {
    position: absolute;
    width: 100%;
    height: 100%;
}

.chapterCard:hover .capterCardBackground {
    transition: .2s ease-in-out;
    filter: blur(5px);
}

.chapterCardHeader {
    display: flex;
    position: absolute;
    top: 0;
    width: 30%;
    height: 30px;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
}

.chapterCardTitle {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 2;
}

.chapterCardTitle h2 {
    background-color: rgba(0, 0, 0, .3);
    padding: 2px 10px;
}

.chapterHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.readTime {
    cursor: pointer;
}

.chapterReadContent {
    display: block;
    width: 90%;
    color: #c2c2c2;
    font-size: 18px;
    margin-top: 20px;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.commentCard {
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: #2c3e50;
    width: 80%;
}

.commentCardLeft {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #34495e;
    padding: 5px;
    flex: .2;
}

.commentCardRight {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    padding: 10px;
    flex: .7;
}

.commentCardCommands {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex: .1;
}

.commentCard img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid white;
}

.commentCardinfos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
}

.logo img {
    border: none;
    width: 100%;
    height: 100%;
}

.pagination {
    display: flex;
    margin: 20px;
    padding: 20px;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    cursor: pointer;
}

.page:hover {
    transition: ease-in-out .1s;
    background-color: rgba(0, 0, 0, .5);
}

.page img {
    width: 30px;
    height: 30px;
}

/**
FOOTER
 */

.footer {
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #2c3e50;
    justify-content: center;
    align-items: center;
}

.centerText {
    margin-top: 28px;
    text-align: center;
}

/**
NEW CHAPTER
 */

.newContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}



